

.popup-signup {
	display: none;
	position: fixed;
	z-index: 2;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background: rgba(191, 191, 191, 0.5);
	padding-top: 50px;
}

hr {
	border: 1px solid #f1f1f1;
	margin-bottom: 25px;
}

.signup-form-container {
	background-color: #fefefe;
	margin: 5% auto 5% auto;
	border: 1px solid #888;
	width: 80%;
	padding: 16px;
}

.signup-form-container input[type=text], input[type=password] {
	width: 100%;
	padding: 15px;
	margin: 5px 0 22px 0;
	display: inline-block;
	border: none;
	background: #f1f1f1;
}

.signup-form-container input[type=text]:focus, input[type=password]:focus {
	background-color: #ddd;
	outline: none;
}

.signup-form-container .btn {
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
	opacity:0.9;
}

.signup-form-container .btn:hover {
	opacity: 1;
}

.signup-form-container .cancel {
	padding: 14px 20px;
	background-color: #f44336;
}

.signup-form-container .signup, .signup-form-container .cancel {
	float: left;
	width: 50%;
}

.close {
		position: absolute;
		right: 35px;
		top: 15px;
		font-size: 40px;
		font-weight: bold;
		color: #gray;
}

.close:hover,
.close:focus {
	color: #f44336;
	cursor: pointer;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

@media screen and (max-width: 300px) {
	.signup-form-container .signup, .signup-form-container .cancel {
		width: 100%;
	}
}